html body{background-color: azure;font-size: 20px;}

h1{background-color: bisque;color: brown;font-size: 3rem;text-align: center;}

#gb-bf{background-color: gray;color: blue;}

.text-right{text-align: right;}

#Welcome{background-color: yellow;color: black;}

#ntmy{background-color: coral;color: darkslategray;}

.h2titles{font-family: "Bitter";font-weight: normal;text-align: center;}

#dog{background-color: cornflowerblue;color: palegreen;}

#cow{background-color: black; color: white;}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
  