body{background-color: cyan;}

h1{margin: 0;font-size: 30px;font-weight: 700;color: #063f5c;}
span{font-size: 20px;}
div{text-align: center;}

.Amanekanata{width: 30%;margin-top: 20px;border: 3px solid white;}

footer{text-align: center;}